/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #020202;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }






 /* html tablle */



    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: #f4f4f4; /* Warna latar belakang halaman */
    }

    table {
        border-collapse: collapse;
        width: 100%;
        margin-top: 90px;
        background-color: #ffffff; /* Warna latar belakang tabel */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Efek bayangan pada tabel */
    }

    th, td {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 10px;
    }

    th {
        background-color: #f2f2f2; /* Warna latar belakang header */
    }

    tr:nth-child(even) {
        background-color: #f9f9f9; /* Warna latar belakang baris genap */
    }




 /* bwergam ccs tombol */

.btn {
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 14px 28px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
  }
  
  .success {background-color: #04AA6D;} /* Green */
  .success:hover {background-color: #46a049;}
  
  .info {background-color: #2196F3;} /* Blue */
  .info:hover {background: #0b7dda;}
  
  .warning {background-color: #ff9800;} /* Orange */
  .warning:hover {background: #e68a00;}
  
  .danger {background-color: #f44336;} /* Red */
  .danger:hover {background: #da190b;}
  
  .default {background-color: #e7e7e7; color: black;} /* Gray */
  .default:hover {background: #ddd;}





  .container {
    position: relative;
    width: 50%;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
  